
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: white;
}
.container {
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}
.left-panel {
  background-color: #fff;
  color: black;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 40vh;
  min-height: 50vh;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  color: #226C5C;
  font-size: 55px;
}

.left-panel img {
  width: 10%;
}

.right-panel {
  background-color: #226C5C;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 2; 
  min-width: 50vh;
}
.right-panel img {
  width: 350px;
}
h2 {
  margin-bottom: 20px;
  color: white;
}
h3 {
  margin-top: 0;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%;
}
input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 70%;
  height: 24px;
  max-width: 400px; 
}
button {
  background-color: #226C5C;
  color: white;
  border: none;
  padding: 15px 40px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 25px;
  margin-top: 10px;
  font-weight: bolder;
  transition: background-color 0.3s, transform 0.3s;
  width: 100%;
  max-width: 180px; 
}
button:hover {
  background-color: #1a5548; 
  transform: scale(1.05); 
}
.signup-link {
  color: black;
  font-weight: bolder;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}
