* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  text-decoration: none;
}

:root {
  /* ===== Colors ===== */
  --body-color: white;
  --sidebar-color: #226c5c;
  --primary-color: white;
  --toggle-color: #226c5c;
  --text-color: white;

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body {
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
}

/* ===== Sidebar ===== */
.sidebar,
.sidebar2 {
  position: fixed;
  top: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
}

.sidebar {
  left: 0;
  z-index: 100;
}

.sidebar2 {
  width: 300px;
  left: 250px;
  display: none;
  padding-right: 5px;
  background: var(--body-color);
  z-index: 1;
}

.sidebar.close {
  width: 88px;
}

.sidebar2.open {
  display: block;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}

.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 21px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
  margin-left: 10px;
}
.sidebar.close .text {
  opacity: 0;
}
/* =========================== */

.sidebar header {
  position: relative;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}
.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}
header .image-text .name {
  margin-top: 2px;
  font-size: 20px;
  font-weight: 600;
}

header .image-text .profession {
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .image img {
  width: 60px;
  border-radius: 6px;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--sidebar-color);
  color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
  margin-top: 40px;
}

.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover,
#mobileNavbarBottom li a:hover {
.sidebar li a:hover,
#mobileNavbarBottom li a:hover {
  background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text,
#mobileNavbarBottom li a:hover .icon,
#mobileNavbarBottom li a:hover span {
.sidebar li a:hover .text,
#mobileNavbarBottom li a:hover .icon,
#mobileNavbarBottom li a:hover span {
  color: var(--sidebar-color);
}

.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar {
  display: none;
}

.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}
.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
}

.switch::before {
  left: 20px;
}

#mobileNavbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  background-color: var(--sidebar-color);
  display: none;
}

.bx-user {
  font-size: 25px;
  color: white;
  border-radius: 50%;
  border: 2px solid white;
  padding: 5px;
}

#mobileNavbar .navbar {
  position: absolute;
  top: 100%;
  left: calc(100% - 250px);
  right: 0;
  background: #e7e5e5;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: none;
}

.logo {
  height: 55px;
}

#mobileNavbar .navbar ul {
  list-style: none;
}

#mobileNavbar .navbar ul li {
  position: relative;
  float: left;
  width: 100%;
}

#mobileNavbar .navbar ul li a {
  font-size: 20px;
  padding: 20px;
  display: block;
  color: #333;
  font-weight: bolder;
  display: flex;
}

#mobileNavbar .navbar ul li a i {
  padding: 0 10px;
}

#mobileNavbar .navbar ul li a p {
  white-space: nowrap;
  overflow: hidden;
  margin: auto;
  text-overflow: ellipsis;
  margin-left: 15px;
}

#mobileNavbar .navbar ul li a span {
  margin-left: 15px;
}

#mobileNavbar .navbar ul li a:hover {
  background: #d2ebe6;
}

#menu_bar {
  display: none;
}

#mobileNavbar label {
  font-size: 20px;
  color: #333;
  cursor: pointer;
  display: initial;
  width: fit-content;
}

#menu_bar:checked ~ .navbar {
  display: initial;
}

#mobileNavbarBottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  align-items: center;
  z-index: 10;
  background-color: var(--sidebar-color);
  display: none;
}

#mobileNavbarBottom .navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

#mobileNavbarBottom .navbar ul li {
  position: relative;
  float: left;
  width: 100px;
}

#mobileNavbarBottom .navbar ul li a {
  font-size: 17px;
  padding: 5px;
  display: flex;
  color: white;
  font-weight: bolder;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  border-radius: 6px;
}

#mobileNavbarBottom .navbar ul li a i {
  font-size: 25px;
  padding: 5px;
}

#mobileNavbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  background-color: var(--sidebar-color);
  display: none;
}

.bx-user {
  font-size: 25px;
  color: white;
  border-radius: 50%;
  border: 2px solid white;
  padding: 5px;
}

#mobileNavbar .navbar {
  position: absolute;
  top: 100%;
  left: calc(100% - 250px);
  right: 0;
  background: #e7e5e5;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: none;
}

.logo {
  height: 55px;
}

#mobileNavbar .navbar ul {
  list-style: none;
}

#mobileNavbar .navbar ul li {
  position: relative;
  float: left;
  width: 100%;
}

#mobileNavbar .navbar ul li a {
  font-size: 20px;
  padding: 20px;
  display: block;
  color: #333;
  font-weight: bolder;
  display: flex;
}

#mobileNavbar .navbar ul li a i {
  padding: 0 10px;
}

#mobileNavbar .navbar ul li a p {
  white-space: nowrap;
  overflow: hidden;
  margin: auto;
  text-overflow: ellipsis;
  margin-left: 15px;
}

#mobileNavbar .navbar ul li a span {
  margin-left: 15px;
}

#mobileNavbar .navbar ul li a:hover {
  background: #d2ebe6;
}

#menu_bar {
  display: none;
}

#mobileNavbar label {
  font-size: 20px;
  color: #333;
  cursor: pointer;
  display: initial;
  width: fit-content;
}

#menu_bar:checked ~ .navbar {
  display: initial;
}

#mobileNavbarBottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  align-items: center;
  z-index: 10;
  background-color: var(--sidebar-color);
  display: none;
}

#mobileNavbarBottom .navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

#mobileNavbarBottom .navbar ul li {
  position: relative;
  float: left;
  width: 100px;
}

#mobileNavbarBottom .navbar ul li a {
  font-size: 17px;
  padding: 5px;
  display: flex;
  color: white;
  font-weight: bolder;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  border-radius: 6px;
}

#mobileNavbarBottom .navbar ul li a i {
  font-size: 25px;
  padding: 5px;
}

.home {
  position: absolute;
  top: 0;
  height: 100vh;
  transition: var(--tran-05);
  overflow-y: auto;
}

.home .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 60px;
}

.sidebar.close ~ .home {
  left: 88px;
  height: 100vh;
  width: calc(100% - 88px);
}

.sidebar2 li {
  list-style: none;
  margin-top: 10px;
}

.sidebar2 li a {
  text-decoration: none;
  color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: 35% 65%;
  gap: 10px;
  padding: 10px;
  max-width: 950px;
  margin: 1em auto;
  margin-top: 30px;
  margin-top: 30px;
}

.grid-container > div {
  background-color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#Bio {
  grid-column: span 2;
  min-height: 150px;
  padding: 20px;
  margin-bottom: 70px;
  padding: 20px;
  margin-bottom: 70px;
}

.profile-pic {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 0.5px solid black;
}

#profilePic {
  background-color: white;
  box-shadow: 1px 1px 2px black;
  border-radius: 5px;
  width: 200px;
  outline: none;
}

::-webkit-file-upload-button {
  color: white;
  padding: 4px;
  background-color: #0502e0;
  border: none;
  outline: none;
  font-weight: bold;
}

::-webkit-file-upload-button:hover {
  background-color: #0704b9;
}

.hidden {
  display: none;
}

.contact_list,
.favorite_list {
  display: flex;
  justify-content: space-between;
}

.contact_list div {
  display: flex;
}
.contact_list div:first-of-type {
  width: 180px;
}
.contact_list div:first-of-type img {
  height: 45px;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
.contact_list div:first-of-type p {
  font-size: 22px;
  margin: auto 0 auto 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contact_list div:nth-of-type(2) img {
  width: 23px;
  height: 23px;
  margin: auto 15px;
  cursor: pointer;
}
.contact_list div:nth-of-type(2) i {
  color: red;
  align-items: center;
  font-size: 25px;
  margin: auto;
  cursor: pointer;
}

.favorite_list img {
  height: 35px;
  width: 35px;
  margin: auto 0;
}
.favorite_list div {
  width: 235px;
  margin-left: 20px;
  margin-right: auto;
  margin-right: auto;
}
.favorite_list div img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  object-fit: cover;
}
.favorite_list div p {
  font-size: 22px;
  margin: auto 0 auto 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#title {
  margin-top: 13px;
  font-size: 30px;
  position: sticky;
  top: 0;
}

.favoriteList::-webkit-scrollbar,
.contactList::-webkit-scrollbar,
.home::-webkit-scrollbar {
.contactList::-webkit-scrollbar,
.home::-webkit-scrollbar {
  width: 5px;
  border-radius: 50%;
}

.favoriteList::-webkit-scrollbar-track,
.contactList::-webkit-scrollbar-track,
.home::-webkit-scrollbar-track {
.contactList::-webkit-scrollbar-track,
.home::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 20px;
}

.favoriteList::-webkit-scrollbar-thumb,
.contactList::-webkit-scrollbar-thumb,
.home::-webkit-scrollbar-thumb {
.contactList::-webkit-scrollbar-thumb,
.home::-webkit-scrollbar-thumb {
  background-color: #8ca39f;
  border-radius: 20px;
}

.favoriteList::-webkit-scrollbar-thumb:hover,
.contactList::-webkit-scrollbar-thumb:hover,
.home::-webkit-scrollbar-thumb:hover {
.contactList::-webkit-scrollbar-thumb:hover,
.home::-webkit-scrollbar-thumb:hover {
  background-color: #226c5c;
}

/* Below is for profile page */
#bio {
  width: 100%;
  max-width: 880px;
  width: 100%;
  max-width: 880px;
  min-height: 160px;
  font-size: 16px;
  padding: 28px;
  margin: 1px auto;
  display: none;
  overflow-y: auto;
}

.normalButton {
  background-color: #226c5c;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 17px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  font-weight: bolder;
  transition: background-color 0.3s, transform 0.3s;
  width: 30%;
}
.normalButton:hover {
  background-color: #1a5548;
  transform: scale(1.05);
}

#emoji-button {
  background: none;
  border: none;
  font-size: 25px;
  cursor: pointer;
  transform: translateY(-45px);
  float: right;
  margin-right: 30px;
  float: right;
  margin-right: 30px;
}
#emoji-button:hover {
  color: #ff5e00;
}

#edit-bio-btn {
  width: 90px;
  background-color: #f4a62a;
  margin-top: -10px; /* Raise button by reducing the margin-top */
}

#save-bio-btn {
  width: 92px;
  margin: -20px 10px 0;
  float: right;
  margin: -20px 10px 0;
  float: right;
}

.profile-form {
  margin: 0 auto;
  text-align: left;
  width: fit-content;
}
.profile-form p {
  width: fit-content;
  width: fit-content;
}
.profile-form p {
  width: fit-content;
}

label {
  font-size: 16px;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
  font-weight: bold;
  width: 150px;
  width: 150px;
}

.profile-form input {
  height: 25px;
  padding: 5px;
  margin-top: 15px;
}

#message {
  font-size: 16px;
  padding: 10px 10px 0 10px;
}

h5 {
  padding: 0 20px;
}

#bio-display {
  font-size: 20px;
  margin-top: 10px;
}

.profile-form input {
  font-size: 15px;
  border: none;
  background-color: #ecf1f0;
  border-radius: 5px;
}

#deleteAccountBtn {
  margin: 10px 20px 0 auto;
  margin: 10px 20px 0 auto;
  background-color: red;
  width: 111px;
}

#showBtn {
  width: 123px;
}

#editBtn {
  width: 111px;
  background-color: #f4a62a;
}

#cancelBtn {
  display: none;
  background-color: red;
  width: 75px;
}

#updateBtn {
  width: 136px;
  display: none;
}

.button-container {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  justify-content: flex-end;
  justify-content: flex-end;
}

#bio-message {
  font-size: 20px;
  color: red;
  transform: translateY(-20px);
}

#editPasswordBtn {
  background-color: #f4a62a;
  position: relative;
  top: -20px;
  top: -20px;
  width: 149px;
  float: right;
  float: right;
}

#changePasswordBtn {
  width: 168px;
}

#cancelPasswordBtn {
  background-color: red;
  width: 75px;
}

#password-message {
  font-size: 16px;
  color: red;
  text-align: center;
  margin-top: 10px;
}

#delete-message {
  font-size: 16px;
  color: red;
  margin-top: 10px;
}

/* Modal Styling */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  font-size: large;
}
.modal-content h3 {
  margin: 2px 0 10px;
  font-size: 24px;
  font-size: 24px;
}
.modal-content p {
  margin: 0 10px 10px 0;
  line-height: 1.3;
}
.modal-content label {
  font-size: 14px;
  font-weight: lighter;
  color: gray;
  display: inline;
}
.modal-content input {
  height: 35px;
  border-radius: 5px;
  padding: 7px;
  border: 1px solid;
  width: 190px;
  margin-top: 5px;
}
.modal-content button {
  width: 40%;
  margin-top: 0;
  margin-top: 0;
  background-color: red;
  padding: 7.5px;
  margin-left: 8px;
}
.modal-content button:hover {
  background-color: red;
}
.closeBtn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.closeBtn:hover,
.closeBtn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#profilePictureModal .modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  width: 350px;
}

#profilePictureModal .modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  width: 350px;
}

/* Connected Accounts Styling */
#connectedAccountModal .modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  width: 750px;
}

#connected-accounts-display {
  margin: 5px;
}

#connected-accounts-form {
  margin-top: 20px;
  text-align: left;
}

#connected-accounts-form p {
#connected-accounts-form p {
  margin-right: 0px;
  text-align: right;
}

#connected-accounts-form label {
  width: 90px;
  width: 90px;
  display: inline-block;
  font-size: 16px;
}

#connected-accounts-form input {
  width: 480px;
  width: 480px;
  height: 30px;
  padding: 5px;
  margin-bottom: 10px;
}
#connected-accounts-form .button-container {
  justify-content: end;
}

#edit-accounts-btn {
  width: 155px;
  width: 155px;
  background-color: #f4a62a;
  margin-top: 0;
}

#save-accounts-btn {
  background-color: var(--sidebar-color);
  width: 140px;
  width: 140px;
}

#cancel-accounts-btn {
  background-color: red;
  width: 80px;
  width: 80px;
}

#accounts-message {
  font-size: 17px;
  margin-top: 10px;
  text-align: center;
}

.iconImg {
.iconImg {
  aspect-ratio: 1 / 1;
  height: 30px;
  object-fit: cover;
  border: 0.5px solid #ccc;
  border-radius: 50%;
  margin: 2px;
}

.iconImg:hover {
  background-color: var(--sidebar-color);
}

#imagePreview {
  aspect-ratio: 1 / 1;
  height: 150px;
  border-radius: 50%;
  border: 0.5px solid #ccc;
  object-fit: cover;
  margin: 10px;
  cursor: pointer;

}
#backgroundPreview {
  height: 170px;
  width: 300px;
  border-radius: 12px;
  border: 0.5px solid #ccc;
  object-fit: cover;
  margin: 10px;
  cursor: pointer;
}

#imagePreview:hover, #backgroundPreview:hover {
  transform: scale(1.05);
}

#uploadBtn {
  display: none;
  margin-left: 0;
  background-color: var(--sidebar-color);
}

.profile-container {
  position: relative;
  display: inline-block;
  display: inline-block;
}

.pencil-icon {
  position: absolute;
  top: 47%;
  left: 49.8%;
  transform: translate(-50%, -50%);
  font-size: 31px;
  color: #ffffff;
  opacity: 0;
  transition: opacity 0.3s ease;
  background: rgba(0, 0, 0, 0.3);
  font-size: 31px;
  color: #ffffff;
  opacity: 0;
  transition: opacity 0.3s ease;
  background: rgba(0, 0, 0, 0.3);
  padding: 48px;
  border-radius: 50%;
  cursor: pointer;
}

/* Show pencil icon on hover */
.profile-container:hover .pencil-icon {
  opacity: 1;
}

/* Setting Modal */
#saveSettingsBtn {
  display: none;
  background-color: var(--sidebar-color);
  width: fit-content;
}

#background-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}

#settingsModal .modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  width: 400px;
}

@media screen and (max-width: 1000px) {
  .sidebar {
    display: none;
  }

  .sidebar2 {
    display: none;
  }

  .home {
    position: static;
    width: 100%;
  }

  .sidebar.close ~ .home {
    width: 100%;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
  }

  .grid-container > div {
    width: 100%;
  }

  #deleteAccountBtn {
    margin-right: auto;
    margin-top: 110px;
  }

  #emoji-button {
    margin-right: 10px;
  }

  #save-bio-btn {
    margin-right: 0;
  }

  #bio-display {
    font-size: 17px;
  }

  #connectedAccountModal .modal-content {
    width: max-content;
  }

  #connected-accounts-form input {
    width: 400px;
  }

  #mobileNavbar {
    display: flex;
  }

  #mobileNavbarBottom {
    display: block;
  }

  .sidebar2 {
    left: 0;
    width: 100%;
    padding-right: 14px;
    height: calc(100% - 65px);
  }

  .contactList,
  .favoriteList {
    padding-bottom: 70px;
  }

  #settingsModal .modal-content {
    width: 330px;
  }

  #settingsModal .modal-content h3{
    font-size: 20px;
  }

  #settingsModal .modal-content button {
    font-size: 16px;
  }

  #backgroundPreview {
    width: 240px;
    height: 150px;
  }

}

@media screen and (max-width: 400px) {
  label {
    width: 90px;
  }
}

@media screen and (max-width: 600px) {
  #connected-accounts-form input {
    width: auto;
  }
}
